In [9]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = "Resources/pollution_us_2000_2016.csv"
df = pd.read_csv(csv_path)

In [11]:
#pandas datetimeindex docs: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DatetimeIndex.html
#efficient way to extract year from string format date
df['year'] = pd.DatetimeIndex(df['Date Local']).year
df['Date Local'] = pd.to_datetime(df['Date Local'],format='%Y-%m-%d')

In [12]:
# Delete extraneous column
df = df.drop(['Unnamed: 0','State Code','County Code','Address','Site Num','NO2 Units','O3 Units','SO2 Units','CO Units'], axis=1)
# Removing Mexico
df = df[df.State!='Country of Mexico']
df.head()

,State,County,City,Date Local,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,...,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,year
0,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,...,34,3.000000,9.0,21,13.0,1.145833,4.2,21,NaN,2000
1,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,...,34,3.000000,9.0,21,13.0,0.878947,2.2,23,25.0,2000
2,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,...,34,2.975000,6.6,23,NaN,1.145833,4.2,21,NaN,2000
3,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,...,34,2.975000,6.6,23,NaN,0.878947,2.2,23,25.0,2000
4,Arizona,Maricopa,Phoenix,2000-01-02,22.958333,36.0,19,34,0.013375,0.032,...,27,1.958333,3.0,22,4.0,0.850000,1.6,23,NaN,2000

In [13]:
df_grouped = df.groupby(['State','Date Local']).mean()
df_grouped.head()

                     NO2 Mean  NO2 1st Max Value  NO2 1st Max Hour  NO2 AQI  \
State   Date Local
Alabama 2013-12-01  17.208333               39.3              18.0     37.0
        2013-12-02  20.687500               32.4               7.0     30.0
        2013-12-03  14.912500               22.4              17.0     21.0
        2013-12-04   7.825000               19.3              17.0     18.0
        2013-12-05   8.004762               16.0               7.0     15.0

                     O3 Mean  O3 1st Max Value  O3 1st Max Hour  O3 AQI  \
State   Date Local
Alabama 2013-12-01  0.013542             0.026              9.0    24.0
        2013-12-02  0.009375             0.013              0.0    12.0
        2013-12-03  0.008167             0.012             22.0    11.0
        2013-12-04  0.011125             0.014              8.0    13.0
        2013-12-05  0.010083             0.014             18.0    13.0

                    SO2 Mean  SO2 1st Max Value  SO2 1st Max Hour  SO2 AQI  \
State   Date Local
Alabama 2013-12-01  0.285390               0.75              11.0      1.0
        2013-12-02  0.531666               2.10              11.0      3.0
        2013-12-03  0.252632               1.35              12.5      3.0
        2013-12-04  0.123052               0.95              17.0      1.0
        2013-12-05 -0.014285               0.60               2.5      1.0

                     CO Mean  CO 1st Max Value  CO 1st Max Hour  CO AQI  \
State   Date Local
Alabama 2013-12-01  0.262879             0.650              8.5     6.0
        2013-12-02  0.352812             0.485              8.0     6.0
        2013-12-03  0.237575             0.325              4.0     3.0
        2013-12-04  0.115152             0.220             18.5     2.0
        2013-12-05  0.117575             0.200             17.5     2.0

                      year
State   Date Local
Alabama 2013-12-01  2013.0
        2013-12-02  2013.0
        2013-12-03  2013.0
        2013-12-04  2013.0
        2013-12-05  2013.0

In [6]:
# Dropping the NA values at this point would end up losing a lot of data for O3 and CO2 data, so we want to maintain separate dfs once we get to that point.

In [7]:
#NO2 data
NO2_data = df[["State", "County", "City","NO2 Mean","NO2 1st Max Value", "NO2 1st Max Hour", "NO2 AQI","Date Local","year"
                          ]]
NO2_data.head()

,State,County,City,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,Date Local,year
0,Arizona,Maricopa,Phoenix,19.041667,49.0,19,46,2000-01-01,2000
1,Arizona,Maricopa,Phoenix,19.041667,49.0,19,46,2000-01-01,2000
2,Arizona,Maricopa,Phoenix,19.041667,49.0,19,46,2000-01-01,2000
3,Arizona,Maricopa,Phoenix,19.041667,49.0,19,46,2000-01-01,2000
4,Arizona,Maricopa,Phoenix,22.958333,36.0,19,34,2000-01-02,2000

In [9]:
#NO2 data group it 
NO2_group = df[["State","County","City","NO2 AQI","Date Local","year"
                          ]]
NO2_group.head()

     State    County     City  NO2 AQI Date Local  year
0  Arizona  Maricopa  Phoenix       46 2000-01-01  2000
1  Arizona  Maricopa  Phoenix       46 2000-01-01  2000
2  Arizona  Maricopa  Phoenix       46 2000-01-01  2000
3  Arizona  Maricopa  Phoenix       46 2000-01-01  2000
4  Arizona  Maricopa  Phoenix       34 2000-01-02  2000

In [10]:
# Grouping the DataFrame by "Assignee"
citycounty_group = NO2_group.groupby(["State","County","City"])

citycounty_group

In [11]:
# Count how many of each component Assignees worked on and create DataFrame of the data
citycounty_grpdisplay = pd.DataFrame(citycounty_group["City"].value_counts())
citycounty_grpdisplay

                                                                           City
State        County                City               City
Alabama      Jefferson             Birmingham         Birmingham           3126
Alaska       Fairbanks North Star  Fairbanks          Fairbanks            1974
Arizona      Maricopa              Phoenix            Phoenix             37912
                                   Scottsdale         Scottsdale           8674
             Pima                  Tucson             Tucson              23254
Arkansas     Pulaski               North Little Rock  North Little Rock   35332
California   Alameda               Berkeley           Berkeley             4460
                                   Oakland            Oakland              9746
             Contra Costa          Bethel Island      Bethel Island       23396
                                   Concord            Concord             23686
                                   Crockett           Crockett             1892
                                   Pittsburg          Pittsburg           13076
                                   San Pablo          San Pablo           21960
             Fresno                Fresno             Fresno              15302
             Humboldt              Eureka             Eureka              12200
                                   Not in a city      Not in a city        6346
             Imperial              Calexico           Calexico            22420
             Kern                  Bakersfield        Bakersfield           434
             Los Angeles           Burbank            Burbank             18870
                                   Hawthorne          Hawthorne            6046
                                   Long Beach         Long Beach          25104
                                   Los Angeles        Los Angeles         42241
                                   West Los Angeles   West Los Angeles     1120
             Orange                Costa Mesa         Costa Mesa          21606
             Riverside             Rubidoux           Rubidoux            30178
             Sacramento            Arden-Arcade       Arden-Arcade        19878
                                   Not in a city      Not in a city       13154
             San Bernardino        Fontana            Fontana             10694
                                   Victorville        Victorville         23279
             San Diego             Chula Vista        Chula Vista         14612
...                                                                         ...
South Dakota Union                 Not in a city      Not in a city        1404
Tennessee    Blount                Not in a city      Not in a city        3974
             Haywood               Not in a city      Not in a city         904
             Meigs                 Not in a city      Not in a city         964
Texas        Bexar                 Not in a city      Not in a city        3368
                                   San Antonio        San Antonio          3574
             Dallas                Dallas             Dallas              23406
             El Paso               El Paso            El Paso             36908
             Harris                Deer Park          Deer Park            7676
                                   Houston            Houston             33626
             McLennan              Waco               Waco                12480
             Travis                Austin             Austin               2170
Utah         Duchesne              Roosevelt          Roosevelt             104
             Salt Lake             Salt Lake City     Salt Lake City       6580
             Uintah                Not in a city      Not in a city        1984
Virginia     Alexandria City       Alexandria         Alexandria           5876
                                   Not in a city      Not in a city        1060
             Fairfax               Annandale          Annandale            4042
                                   McLean             McLean               5604
                                   Not in a city      Not in a city        5530
                                   Seven Corners      Seven Corners        1446
             Hampton City          Hampton            Hampton              4724
             Henrico               East Highland Park East Highland Park   5976
             Roanoke               Vinton             Vinton               2164
Washington   King                  Seattle            Seattle               962
Wisconsin    Milwaukee             Milwaukee          Milwaukee            1516
Wyoming      Fremont               Riverton           Riverton             1396
             Laramie               Not in a city      Not in a city        7114
             Sweetwater            Not in a city      Not in a city        1850
             Uinta                 Not in a city      Not in a city        2688

[177 rows x 1 columns]

In [14]:
#O3 data

O3_data = df[["State", "County", "City","O3 Mean","O3 1st Max Value", "O3 1st Max Hour", "O3 AQI"
                          ]]
O3_data.head()

,State,County,City,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI
0,Arizona,Maricopa,Phoenix,0.022500,0.040,10,34
1,Arizona,Maricopa,Phoenix,0.022500,0.040,10,34
2,Arizona,Maricopa,Phoenix,0.022500,0.040,10,34
3,Arizona,Maricopa,Phoenix,0.022500,0.040,10,34
4,Arizona,Maricopa,Phoenix,0.013375,0.032,10,27

In [16]:
# the following two groupbys need a dropped dataframe
df_drop = df.dropna(how='any')
df_drop.count()

State                436876
County               436876
City                 436876
Date Local           436876
NO2 Mean             436876
NO2 1st Max Value    436876
NO2 1st Max Hour     436876
NO2 AQI              436876
O3 Mean              436876
O3 1st Max Value     436876
O3 1st Max Hour      436876
O3 AQI               436876
SO2 Mean             436876
SO2 1st Max Value    436876
SO2 1st Max Hour     436876
SO2 AQI              436876
CO Mean              436876
CO 1st Max Value     436876
CO 1st Max Hour      436876
CO AQI               436876
year                 436876
dtype: int64

In [17]:
#SO2 data
SO2_data = df_drop[["State","County", "City","SO2 Mean","SO2 1st Max Value", "SO2 1st Max Hour", "SO2 AQI"
                   ]]
SO2_data.head()

,State,County,City,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI
1,Arizona,Maricopa,Phoenix,3.000000,9.0,21,13.0
5,Arizona,Maricopa,Phoenix,1.958333,3.0,22,4.0
9,Arizona,Maricopa,Phoenix,5.250000,11.0,19,16.0
13,Arizona,Maricopa,Phoenix,7.083333,16.0,8,23.0
17,Arizona,Maricopa,Phoenix,8.708333,15.0,7,21.0

In [18]:
#CO data
CO_data = df_drop[["State", "County", "City","CO Mean","CO 1st Max Value", "CO 1st Max Hour", "CO AQI"
                  ]]
CO_data.head()

,State,County,City,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
1,Arizona,Maricopa,Phoenix,0.878947,2.2,23,25.0
5,Arizona,Maricopa,Phoenix,1.066667,2.3,0,26.0
9,Arizona,Maricopa,Phoenix,1.762500,2.5,8,28.0
13,Arizona,Maricopa,Phoenix,1.829167,3.0,23,34.0
17,Arizona,Maricopa,Phoenix,2.700000,3.7,2,42.0