In [24]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = "Resources/pollution_us_2000_2016.csv"
df = pd.read_csv(csv_path)

In [26]:
#pandas datetimeindex docs: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DatetimeIndex.html
#efficient way to extract year from string format date
df['year'] = pd.DatetimeIndex(df['Date Local']).year
df['Date Local'] = pd.to_datetime(df['Date Local'],format='%Y-%m-%d')

In [27]:
# Delete extraneous column
df = df.drop(['Unnamed: 0','State Code','County Code','Address','Site Num','NO2 Units','O3 Units','SO2 Units','CO Units'], axis=1)
# Removing Mexico
df = df[df.State!='Country Of Mexico']
df.head()

,State,County,City,Date Local,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,...,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,year
0,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,...,34,3.000000,9.0,21,13.0,1.145833,4.2,21,NaN,2000
1,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,...,34,3.000000,9.0,21,13.0,0.878947,2.2,23,25.0,2000
2,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,...,34,2.975000,6.6,23,NaN,1.145833,4.2,21,NaN,2000
3,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,...,34,2.975000,6.6,23,NaN,0.878947,2.2,23,25.0,2000
4,Arizona,Maricopa,Phoenix,2000-01-02,22.958333,36.0,19,34,0.013375,0.032,...,27,1.958333,3.0,22,4.0,0.850000,1.6,23,NaN,2000

In [28]:
df.State.unique()

array(['Arizona', 'California', 'Colorado', 'District Of Columbia',
       'Florida', 'Illinois', 'Indiana', 'Kansas', 'Kentucky',
       'Louisiana', 'Michigan', 'Missouri', 'New Jersey', 'New York',
       'North Carolina', 'Oklahoma', 'Pennsylvania', 'Texas', 'Virginia',
       'Massachusetts', 'Nevada', 'New Hampshire', 'Tennessee',
       'South Carolina', 'Connecticut', 'Iowa', 'Maine', 'Maryland',
       'Wisconsin', 'Arkansas', 'Oregon', 'Wyoming', 'North Dakota',
       'Idaho', 'Ohio', 'Georgia', 'Delaware', 'Hawaii', 'Minnesota',
       'New Mexico', 'Rhode Island', 'South Dakota', 'Utah', 'Alabama',
       'Washington', 'Alaska'], dtype=object)

In [6]:
df_grouped = df.groupby(['State','Date Local']).mean()
df_grouped.head()

                     NO2 Mean  NO2 1st Max Value  NO2 1st Max Hour  NO2 AQI  \
State   Date Local
Alabama 2013-12-01  17.208333               39.3              18.0     37.0
        2013-12-02  20.687500               32.4               7.0     30.0
        2013-12-03  14.912500               22.4              17.0     21.0
        2013-12-04   7.825000               19.3              17.0     18.0
        2013-12-05   8.004762               16.0               7.0     15.0

                     O3 Mean  O3 1st Max Value  O3 1st Max Hour  O3 AQI  \
State   Date Local
Alabama 2013-12-01  0.013542             0.026              9.0    24.0
        2013-12-02  0.009375             0.013              0.0    12.0
        2013-12-03  0.008167             0.012             22.0    11.0
        2013-12-04  0.011125             0.014              8.0    13.0
        2013-12-05  0.010083             0.014             18.0    13.0

                    SO2 Mean  SO2 1st Max Value  SO2 1st Max Hour  SO2 AQI  \
State   Date Local
Alabama 2013-12-01  0.285390               0.75              11.0      1.0
        2013-12-02  0.531666               2.10              11.0      3.0
        2013-12-03  0.252632               1.35              12.5      3.0
        2013-12-04  0.123052               0.95              17.0      1.0
        2013-12-05 -0.014285               0.60               2.5      1.0

                     CO Mean  CO 1st Max Value  CO 1st Max Hour  CO AQI  \
State   Date Local
Alabama 2013-12-01  0.262879             0.650              8.5     6.0
        2013-12-02  0.352812             0.485              8.0     6.0
        2013-12-03  0.237575             0.325              4.0     3.0
        2013-12-04  0.115152             0.220             18.5     2.0
        2013-12-05  0.117575             0.200             17.5     2.0

                      year
State   Date Local
Alabama 2013-12-01  2013.0
        2013-12-02  2013.0
        2013-12-03  2013.0
        2013-12-04  2013.0
        2013-12-05  2013.0

In [ ]:
# Dropping the NA values at this point would end up losing a lot of data for O3 and CO2 data, so we want to maintain separate dfs once we get to that point.

In [ ]:
#NO2 data
NO2_data = df[["State", "County", "City","NO2 Mean","NO2 1st Max Value", "NO2 1st Max Hour", "NO2 AQI","Date Local","year"
                          ]]
NO2_data.head()

In [ ]:
#NO2 data group it 
NO2_group = df[["State","County","City","NO2 AQI","Date Local","year"
                          ]]
NO2_group.head()

In [ ]:
# Grouping the DataFrame by "Assignee"
citycounty_group = NO2_group.groupby(["State","County","City"])

citycounty_group

In [ ]:
# Count how many of each component Assignees worked on and create DataFrame of the data
citycounty_grpdisplay = pd.DataFrame(citycounty_group["City"].value_counts())
citycounty_grpdisplay

In [ ]:
#O3 data

O3_data = df[["State", "County", "City","O3 Mean","O3 1st Max Value", "O3 1st Max Hour", "O3 AQI"
                          ]]
O3_data.head()

In [8]:
# the following two groupbys need a dropped dataframe
df_drop = df.dropna(how='any')
df_drop.count()

State                436876
County               436876
City                 436876
Date Local           436876
NO2 Mean             436876
NO2 1st Max Value    436876
NO2 1st Max Hour     436876
NO2 AQI              436876
O3 Mean              436876
O3 1st Max Value     436876
O3 1st Max Hour      436876
O3 AQI               436876
SO2 Mean             436876
SO2 1st Max Value    436876
SO2 1st Max Hour     436876
SO2 AQI              436876
CO Mean              436876
CO 1st Max Value     436876
CO 1st Max Hour      436876
CO AQI               436876
year                 436876
dtype: int64

In [9]:
#SO2 data
SO2_data = df_drop[["State","County", "City","SO2 Mean","SO2 1st Max Value", "SO2 1st Max Hour", "SO2 AQI","Date Local","year"
                   ]]
SO2_data.head()

,State,County,City,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,Date Local,year
1,Arizona,Maricopa,Phoenix,3.000000,9.0,21,13.0,2000-01-01,2000
5,Arizona,Maricopa,Phoenix,1.958333,3.0,22,4.0,2000-01-02,2000
9,Arizona,Maricopa,Phoenix,5.250000,11.0,19,16.0,2000-01-03,2000
13,Arizona,Maricopa,Phoenix,7.083333,16.0,8,23.0,2000-01-04,2000
17,Arizona,Maricopa,Phoenix,8.708333,15.0,7,21.0,2000-01-05,2000

In [29]:
#CO data
CO_data = df_drop[["State", "County", "City","CO Mean","CO 1st Max Value", "CO 1st Max Hour", "CO AQI", "Date Local","year"
                  ]]
state_CO_data = CO_data.groupby(['State']).mean()

In [30]:
state_CO_data.sort_values('CO AQI', ascending=False)

,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,year
State,,,,,
Country Of Mexico,0.856178,1.561309,9.407050,17.698699,2007.623584
District Of Columbia,0.791535,1.018286,7.908412,11.602395,2008.052869
Arizona,0.492256,0.805822,7.067376,9.190681,2007.697521
Colorado,0.445569,0.673503,7.862629,7.724804,2009.410862
Missouri,0.469007,0.647200,7.433192,7.413180,2004.677178
California,0.449641,0.651882,6.514624,7.405755,2007.483773
Kansas,0.410451,0.575010,7.437047,6.541608,2006.123364
Alaska,0.424387,0.581781,7.052632,6.528340,2014.637652
Michigan,0.350807,0.563019,7.189057,6.469956,2003.424035
New Jersey,0.403735,0.565510,7.240910,6.437528,2008.131977
Louisiana,0.413524,0.560479,6.165019,6.311275,2007.579494
Illinois,0.394352,0.547384,6.725670,6.258057,2007.523931
Arkansas,0.423522,0.513021,5.565331,5.929914,2011.673573
Florida,0.426557,0.517904,5.341719,5.921593,2007.610897
New York,0.358441,0.499030,6.873922,5.657910,2007.315195
North Carolina,0.355666,0.492318,6.439560,5.628313,2008.853911
Massachusetts,0.319554,0.464553,8.148313,5.540044,2008.070078
Utah,0.355123,0.477065,5.587448,5.413475,2012.741578
Indiana,0.358315,0.474433,6.020396,5.395001,2009.044815
Virginia,0.374470,0.471154,5.897551,5.359833,2008.709015
Oregon,0.305899,0.474161,6.736860,5.323160,2011.164463
Georgia,0.321156,0.465181,6.174093,5.273057,2012.933679
Wisconsin,0.350330,0.468602,4.812665,5.248021,2006.081794
New Hampshire,0.345901,0.442402,5.589755,5.073181,2008.196298
Tennessee,0.439324,0.455106,1.723783,4.878684,2008.292666
Hawaii,0.367278,0.397913,2.712992,4.481693,2012.923622
Texas,0.248725,0.398263,6.430227,4.450385,2008.829454
Maryland,0.282743,0.393240,5.711277,4.369735,2011.764776
Ohio,0.271291,0.359470,5.799268,4.010115,2012.912103
Pennsylvania,0.242903,0.352322,5.762405,3.986082,2006.859004
Alabama,0.212973,0.346036,6.379795,3.851662,2014.725064
Delaware,0.261954,0.349615,5.966997,3.839384,2012.820682
Nevada,0.221799,0.328518,6.043335,3.658688,2010.314899
Connecticut,0.251569,0.326848,5.381799,3.586396,2011.298410
New Mexico,0.211173,0.318589,6.333707,3.479843,2013.000000
Minnesota,0.245750,0.316704,5.362108,3.450673,2013.297085
Kentucky,0.165087,0.285609,5.620239,3.178455,2002.499728
Rhode Island,0.225506,0.294937,4.939241,3.162025,2013.583544
Maine,0.226094,0.283356,5.036065,3.087199,2011.068236
Iowa,0.218407,0.285195,4.835396,3.043162,2012.312036
Idaho,0.180127,0.267031,5.844978,2.875546,2009.888646
Washington,0.206082,0.259751,4.883817,2.730290,2014.668050
Oklahoma,0.140652,0.227951,4.846663,2.486941,2008.302960
South Dakota,0.184031,0.230751,4.156882,2.385948,2012.949471
North Dakota,0.169603,0.203194,3.193466,2.053358,2011.523775
South Carolina,0.125366,0.157405,3.392901,1.604651,2007.654835
Wyoming,0.107623,0.138577,2.992027,1.486047,2011.908617