In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = "Resources/pollution_us_2000_2016.csv"
pollution_df = pd.read_csv(csv_path)
pollution_df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [3]:
# Display a statistical overview of the DataFrame
pollution_df["State Code"].describe()

count    1.746661e+06
mean     2.230907e+01
std      1.725621e+01
min      1.000000e+00
25%      6.000000e+00
50%      1.700000e+01
75%      4.000000e+01
max      8.000000e+01
Name: State Code, dtype: float64

In [4]:
#pandas datetimeindex docs: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DatetimeIndex.html
#efficient way to extract year from string format date
pollution_df['year'] = pd.DatetimeIndex(pollution_df['Date Local']).year
pollution_df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,year
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN,2000
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0,2000
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN,2000
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0,2000
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN,2000

In [5]:
# Delete extraneous column
del pollution_df['Unnamed: 0']
pollution_df.head()

,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,NO2 Mean,...,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,year
0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN,2000
1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0,2000
2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN,2000
3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0,2000
4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,...,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN,2000

In [6]:
pollution_df.count()

State Code           1746661
County Code          1746661
Site Num             1746661
Address              1746661
State                1746661
County               1746661
City                 1746661
Date Local           1746661
NO2 Units            1746661
NO2 Mean             1746661
NO2 1st Max Value    1746661
NO2 1st Max Hour     1746661
NO2 AQI              1746661
O3 Units             1746661
O3 Mean              1746661
O3 1st Max Value     1746661
O3 1st Max Hour      1746661
O3 AQI               1746661
SO2 Units            1746661
SO2 Mean             1746661
SO2 1st Max Value    1746661
SO2 1st Max Hour     1746661
SO2 AQI               873754
CO Units             1746661
CO Mean              1746661
CO 1st Max Value     1746661
CO 1st Max Hour      1746661
CO AQI                873338
year                 1746661
dtype: int64

In [7]:
# Drop all rows with missing information
drop_null = pollution_df.dropna(how='any')

In [8]:
# Verify dropped rows
drop_null.count()

State Code           436876
County Code          436876
Site Num             436876
Address              436876
State                436876
County               436876
City                 436876
Date Local           436876
NO2 Units            436876
NO2 Mean             436876
NO2 1st Max Value    436876
NO2 1st Max Hour     436876
NO2 AQI              436876
O3 Units             436876
O3 Mean              436876
O3 1st Max Value     436876
O3 1st Max Hour      436876
O3 AQI               436876
SO2 Units            436876
SO2 Mean             436876
SO2 1st Max Value    436876
SO2 1st Max Hour     436876
SO2 AQI              436876
CO Units             436876
CO Mean              436876
CO 1st Max Value     436876
CO 1st Max Hour      436876
CO AQI               436876
year                 436876
dtype: int64

In [9]:
drop_null

,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,NO2 Mean,...,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,year
1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0,2000
5,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,...,1.958333,3.0,22,4.0,Parts per million,1.066667,2.3,0,26.0,2000
9,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-03,Parts per billion,38.125000,...,5.250000,11.0,19,16.0,Parts per million,1.762500,2.5,8,28.0,2000
13,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-04,Parts per billion,40.260870,...,7.083333,16.0,8,23.0,Parts per million,1.829167,3.0,23,34.0,2000
17,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-05,Parts per billion,48.450000,...,8.708333,15.0,7,21.0,Parts per million,2.700000,3.7,2,42.0,2000
21,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-06,Parts per billion,39.950000,...,6.761905,17.0,7,24.0,Parts per million,2.308333,3.6,9,41.0,2000
25,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-07,Parts per billion,29.625000,...,8.666667,21.0,7,30.0,Parts per million,1.829167,3.5,23,40.0,2000
29,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-08,Parts per billion,29.666667,...,8.250000,18.0,0,26.0,Parts per million,2.787500,5.1,2,57.0,2000
33,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-09,Parts per billion,25.083333,...,6.500000,13.0,19,19.0,Parts per million,1.675000,2.8,2,32.0,2000
37,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-10,Parts per billion,37.666667,...,9.958333,21.0,20,30.0,Parts per million,2.179167,3.7,23,42.0,2000
41,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-11,Parts per billion,50.500000,...,11.625000,24.0,22,34.0,Parts per million,2.533333,4.5,1,51.0,2000
45,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-12,Parts per billion,49.125000,...,10.916667,26.0,21,37.0,Parts per million,2.316667,4.2,0,48.0,2000
49,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-13,Parts per billion,73.285714,...,10.952381,21.0,22,30.0,Parts per million,2.958333,4.6,23,52.0,2000
53,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-14,Parts per billion,66.541667,...,11.625000,29.0,8,41.0,Parts per million,3.575000,5.3,1,59.0,2000
57,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-15,Parts per billion,53.166667,...,9.583333,22.0,20,31.0,Parts per million,2.175000,4.5,23,51.0,2000
61,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-16,Parts per billion,45.750000,...,6.458333,13.0,19,19.0,Parts per million,1.962500,4.8,0,54.0,2000
65,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-17,Parts per billion,59.250000,...,8.500000,19.0,23,27.0,Parts per million,1.987500,3.9,23,44.0,2000
69,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-18,Parts per billion,66.791667,...,12.166667,23.0,22,33.0,Parts per million,2.891667,4.9,2,55.0,2000
73,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-19,Parts per billion,59.041667,...,10.166667,22.0,20,31.0,Parts per million,2.650000,4.9,1,55.0,2000
77,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-20,Parts per billion,48.357143,...,9.391304,17.0,21,24.0,Parts per million,2.366667,4.1,1,47.0,2000
81,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-21,Parts per billion,54.500000,...,7.958333,17.0,22,24.0,Parts per million,1.912500,3.5,23,40.0,2000
85,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-22,Parts per billion,38.083333,...,6.875000,14.0,21,20.0,Parts per million,1.912500,3.8,0,43.0,2000
89,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-23,Parts per billion,37.958333,...,6.791667,14.0,22,20.0,Parts per million,1.979167,4.0,1,45.0,2000
93,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-24,Parts per billion,53.333333,...,9.083333,18.0,21,26.0,Parts per million,1.979167,3.3,1,38.0,2000
97,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-25,Parts per billion,42.583333,...,7.833333,11.0,0,16.0,Parts per million,1.554167,2.9,0,33.0,2000
101,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-26,Parts per billion,27.217391,...,3.363636,7.0,1,10.0,Parts per million,0.866667,1.4,0,16.0,2000
105,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-27,Parts per billion,33.375000,...,3.684211,11.0,8,16.0,Parts per million,0.925000,1.6,23,18.0,2000
109,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-28,Parts per billion,36.875000,...,3.952381,14.0,21,20.0,Parts per million,1.454167,1.9,1,22.0,2000
113,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-29,Parts per billion,39.625000,...,6.157895,17.0,22,24.0,Parts per million,1.708333,3.1,23,35.0,2000
117,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-30,Parts per billion,35.208333,...,2.450000,10.0,23,14.0,Parts per million,1.491667,3.8,1,43.0,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746542,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-01,Parts per billion,1.195652,...,-0.104545,0.0,3,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746546,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-02,Parts per billion,0.870833,...,-0.120833,-0.1,0,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746550,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-03,Parts per billion,3.517391,...,-0.050000,0.1,17,0.0,Parts per million,0.141667,0.2,13,2.0,2016
1746554,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-04,Parts per billion,3.429167,...,-0.083333,0.0,1,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746558,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-05,Parts per billion,12.630435,...,0.368182,1.3,9,1.0,Parts per million,0.100000,0.1,0,1.0,2016
1746562,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-06,Parts per billion,1.826087,...,0.030435,0.2,15,0.0,Parts per million,0.095833,0.1,0,1.0,2016
1746566,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-07,Parts per billion,3.023529,...,0.075000,0.2,10,0.0,Parts per million,0.075000,0.1,5,1.0,2016
1746570,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-08,Parts per billion,2.089474,...,0.077778,0.2,23,0.0,Parts per million,0.081250,0.1,3,1.0,2016
1746574,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-09,Parts per billion,6.094118,...,0.050000,0.3,5,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746578,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-11,Parts per billion,5.465217,...,0.077273,0.5,10,0.0,Parts per million,0.100000,0.1,8,1.0,2016
1746582,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-12,Parts per billion,3.975000,...,0.383333,3.8,9,4.0,Parts per million,0.095833,0.1,0,1.0,2016
1746586,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-13,Parts per billion,1.295455,...,-0.019048,0.0,0,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746590,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-14,Parts per billion,5.108333,...,0.025000,0.2,0,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746594,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-15,Parts per billion,0.773913,...,-0.031818,0.0,0,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746598,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-16,Parts per billion,1.404167,...,-0.087500,0.0,0,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746602,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-17,Parts per billion,1.234783,...,-0.027273,0.1,14,0.0,Parts per million,0.083333,0.1,0,1.0,2016
1746606,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-18,Parts per billion,1.262500,...,0.012500,0.9,10,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746610,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-19,Parts per billion,1.530435,...,-0.163636,-0.1,0,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746614,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-20,Parts per billion,7.478261,...,0.086957,0.7,22,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746618,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-21,Parts per billion,2.356522,...,-0.036364,0.7,0,0.0,Parts per million,0.085714,0.1,0,1.0,2016
1746622,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-22,Parts per billion,4.825000,...,0.091304,1.0,8,1.0,Parts per million,0.100000,0.1,0,1.0,2016
1746626,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-23,Parts per billion,1.273913,...,0.000000,0.1,4,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746630,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-24,Parts per billion,2.212500,...,-0.083333,0.0,6,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746634,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-25,Parts per billion,1.626087,...,-0.031818,0.1,0,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746638,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-26,Parts per billion,3.758333,...,-0.050000,0.3,3,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746642,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-27,Parts per billion,4.277273,...,-0.095238,0.0,0,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746646,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-28,Parts per billion,8.317391,...,0.117391,0.5,7,0.0,Parts per million,0.100000,0.1,0,1.0,2016
1746650,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-29,Parts per billion,2.564706,...,0.143750,0.7,8,0.0,Parts per million,0.006667,0.1,0,1.0,2016
1746654,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,1.083333,...,0.016667,0.1,0,0.0,Parts per million,0.091667,0.1,2,1.0,2016
1746658,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.1,0,1.0,2016

In [10]:
# Get a reference to the column names
pollution_df.columns

Index(['State Code', 'County Code', 'Site Num', 'Address', 'State', 'County',
       'City', 'Date Local', 'NO2 Units', 'NO2 Mean', 'NO2 1st Max Value',
       'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units', 'O3 Mean',
       'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI',
       'year'],
      dtype='object')

In [11]:
#general data
poll_data = pollution_df[["Address", "State","State Code", "County", "County Code","City","Site Num","Date Local"
                          ]]
poll_data.head()

,Address,State,State Code,County,County Code,City,Site Num,Date Local
0,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,2000-01-01
1,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,2000-01-01
2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,2000-01-01
3,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,2000-01-01
4,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,2000-01-02

In [12]:
#NO2 data
NO2_data = pollution_df[["Address", "State","State Code", "County", "County Code","City","Site Num",
                         "NO2 Units", "NO2 Mean","NO2 1st Max Value", "NO2 1st Max Hour", "NO2 AQI"
                          ]]
NO2_data.head()

,Address,State,State Code,County,County Code,City,Site Num,NO2 Units,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per billion,19.041667,49.0,19,46
1,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per billion,19.041667,49.0,19,46
2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per billion,19.041667,49.0,19,46
3,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per billion,19.041667,49.0,19,46
4,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per billion,22.958333,36.0,19,34

In [13]:
#NO2 data group it 
NO2_group = pollution_df[["State","County","City","NO2 AQI","Date Local","year","Site Num"
                          ]]
NO2_group.head()

     State    County     City  NO2 AQI  Date Local  year  Site Num
0  Arizona  Maricopa  Phoenix       46  2000-01-01  2000      3002
1  Arizona  Maricopa  Phoenix       46  2000-01-01  2000      3002
2  Arizona  Maricopa  Phoenix       46  2000-01-01  2000      3002
3  Arizona  Maricopa  Phoenix       46  2000-01-01  2000      3002
4  Arizona  Maricopa  Phoenix       34  2000-01-02  2000      3002

In [14]:
# Grouping the DataFrame by "Assignee"
citycounty_group = NO2_group.groupby(["State","County","City"])

citycounty_group

In [15]:
# Count how many of each component Assignees worked on and create DataFrame of the data
citycounty_grpdisplay = pd.DataFrame(citycounty_group["Site Num"].value_counts())
citycounty_grpdisplay

                                                              Site Num
State      County                City               Site Num
Alabama    Jefferson             Birmingham         23            3126
Alaska     Fairbanks North Star  Fairbanks          34            1974
Arizona    Maricopa              Phoenix            3002         22568
                                                    9997         15344
                                 Scottsdale         3003          8674
           Pima                  Tucson             1011         15848
                                                    1028          7406
Arkansas   Pulaski               North Little Rock  7            35332
California Alameda               Berkeley           2004          4460
                                 Oakland            11            7796
                                                    10            1950
           Contra Costa          Bethel Island      1002         23396
                                 Concord            2            23686
                                 Crockett           10            1892
                                 Pittsburg          3001         13076
                                 San Pablo          1004         18128
                                                    1003          3832
           Fresno                Fresno             8             7934
                                                    11            5722
                                                    244            826
                                                    243            820
           Humboldt              Eureka             1004         12200
                                 Not in a city      1005          6346
           Imperial              Calexico           5            22420
           Kern                  Bakersfield        14             434
           Los Angeles           Burbank            1002         18870
                                 Hawthorne          5001          6046
                                 Long Beach         4002         18082
                                                    4006          7022
                                 Los Angeles        1103         25225
...                                                                ...
Tennessee  Meigs                 Not in a city      104            964
Texas      Bexar                 Not in a city      622           3368
                                 San Antonio        55            3574
           Dallas                Dallas             69           23406
           El Paso               El Paso            37           20982
                                                    58            9414
                                                    44            6512
           Harris                Deer Park          1039          7676
                                 Houston            1035         21054
                                                    416          12572
           McLennan              Waco               1037         12480
           Travis                Austin             14            2170
Utah       Duchesne              Roosevelt          2              104
           Salt Lake             Salt Lake City     3006          6580
           Uintah                Not in a city      5632          1984
Virginia   Alexandria City       Alexandria         9             5876
                                 Not in a city      21            1060
           Fairfax               Annandale          1005          4042
                                 McLean             5001          5604
                                 Not in a city      5             5530
                                 Seven Corners      1004          1446
           Hampton City          Hampton            8             4724
           Henrico               East Highland Park 14            5976
           Roanoke               Vinton             1004          2164
Washington King                  Seattle            80             962
Wisconsin  Milwaukee             Milwaukee          26            1516
Wyoming    Fremont               Riverton           6001          1396
           Laramie               Not in a city      100           7114
           Sweetwater            Not in a city      870           1850
           Uinta                 Not in a city      101           2688

[204 rows x 1 columns]

In [16]:
#O3 data

O3_data = pollution_df[["Address", "State","State Code", "County", "County Code","City","Site Num",
                         "O3 Units", "O3 Mean","O3 1st Max Value", "O3 1st Max Hour", "O3 AQI"
                          ]]
O3_data.head()

,Address,State,State Code,County,County Code,City,Site Num,O3 Units,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI
0,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per million,0.022500,0.040,10,34
1,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per million,0.022500,0.040,10,34
2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per million,0.022500,0.040,10,34
3,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per million,0.022500,0.040,10,34
4,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per million,0.013375,0.032,10,27

In [17]:
#SO2 data
SO2_data = pollution_df[["Address", "State","State Code", "County", "County Code","City","Site Num",
                         "SO2 Units", "SO2 Mean","SO2 1st Max Value", "SO2 1st Max Hour", "SO2 AQI"
                          ]]
SO2_data.head()

,Address,State,State Code,County,County Code,City,Site Num,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI
0,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per billion,3.000000,9.0,21,13.0
1,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per billion,3.000000,9.0,21,13.0
2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per billion,2.975000,6.6,23,NaN
3,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per billion,2.975000,6.6,23,NaN
4,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per billion,1.958333,3.0,22,4.0

In [18]:
#CO data
CO_data = pollution_df[["Address", "State","State Code", "County", "County Code","City","Site Num",
                         "CO Units", "CO Mean","CO 1st Max Value", "CO 1st Max Hour", "CO AQI"
                          ]]
CO_data.head()

,Address,State,State Code,County,County Code,City,Site Num,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per million,1.145833,4.2,21,NaN
1,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per million,0.878947,2.2,23,25.0
2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per million,1.145833,4.2,21,NaN
3,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per million,0.878947,2.2,23,25.0
4,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,4,Maricopa,13,Phoenix,3002,Parts per million,0.850000,1.6,23,NaN

In [19]:
country_data = pollution_df[["County Code", "County"]]
country_data

         County Code    County
0                 13  Maricopa
1                 13  Maricopa
2                 13  Maricopa
3                 13  Maricopa
4                 13  Maricopa
5                 13  Maricopa
6                 13  Maricopa
7                 13  Maricopa
8                 13  Maricopa
9                 13  Maricopa
10                13  Maricopa
11                13  Maricopa
12                13  Maricopa
13                13  Maricopa
14                13  Maricopa
15                13  Maricopa
16                13  Maricopa
17                13  Maricopa
18                13  Maricopa
19                13  Maricopa
20                13  Maricopa
21                13  Maricopa
22                13  Maricopa
23                13  Maricopa
24                13  Maricopa
25                13  Maricopa
26                13  Maricopa
27                13  Maricopa
28                13  Maricopa
29                13  Maricopa
...              ...       ...
1746631           21   Laramie
1746632           21   Laramie
1746633           21   Laramie
1746634           21   Laramie
1746635           21   Laramie
1746636           21   Laramie
1746637           21   Laramie
1746638           21   Laramie
1746639           21   Laramie
1746640           21   Laramie
1746641           21   Laramie
1746642           21   Laramie
1746643           21   Laramie
1746644           21   Laramie
1746645           21   Laramie
1746646           21   Laramie
1746647           21   Laramie
1746648           21   Laramie
1746649           21   Laramie
1746650           21   Laramie
1746651           21   Laramie
1746652           21   Laramie
1746653           21   Laramie
1746654           21   Laramie
1746655           21   Laramie
1746656           21   Laramie
1746657           21   Laramie
1746658           21   Laramie
1746659           21   Laramie
1746660           21   Laramie

[1746661 rows x 2 columns]

In [20]:
unique = country_data["County"].unique()
unique

array(['Maricopa', 'Pima', 'Contra Costa', 'Imperial', 'Kern',
       'Los Angeles', 'Orange', 'Riverside', 'Sacramento',
       'San Bernardino', 'San Diego', 'San Francisco', 'Santa Barbara',
       'Santa Cruz', 'Solano', 'Ventura', 'Adams', 'District of Columbia',
       'Cook', 'Marion', 'Linn', 'Sumner', 'Wyandotte', 'Boyd', 'Daviess',
       'Fayette', 'Henderson', 'Jefferson', 'McCracken',
       'East Baton Rouge', 'Wayne', 'Saint Louis', 'St. Louis City',
       'Camden', 'Bronx', 'Queens', 'Suffolk', 'Forsyth', 'Mecklenburg',
       'Cherokee', 'Kay', 'Allegheny', 'Beaver', 'Berks', 'Blair',
       'Bucks', 'Cambria', 'Lackawanna', 'Lancaster', 'Lawrence',
       'Montgomery', 'Northampton', 'Philadelphia', 'Washington',
       'Westmoreland', 'York', 'Dallas', 'El Paso', 'Harris', 'Fairfax',
       'Alexandria City', 'Alameda', 'Saint Clair', 'Clark', 'Essex',
       'Ottawa', 'Kent', 'Hillsborough', 'Haywood', 'Meigs', 'Fresno',
       'Charleston', 'Denver', 'Erie', 'Humboldt', 'New Haven', 'Scott',
       'Aroostook', 'Baltimore', 'Tulsa', 'Dauphin', 'Luzerne',
       'Milwaukee', 'BAJA CALIFORNIA NORTE', 'Pulaski', 'Fairfield',
       'Hartford', 'Polk', "Prince George's", 'Multnomah', 'McLennan',
       'Uinta', 'Cumberland', 'Steuben', 'Cass', 'Adair', 'Blount',
       'Bexar', 'Santa Clara', 'Ada', 'Athens', 'Medina', 'Litchfield',
       'DeKalb', 'Washoe', 'Henrico', 'Hampton City', 'New Castle',
       'Honolulu', 'Anoka', 'Bernalillo', 'Monroe', 'Cuyahoga',
       'Hamilton', 'Oklahoma', 'Providence', 'Minnehaha', 'Salt Lake',
       'Laramie', 'Sweetwater', 'Jackson', 'Travis', 'Duchesne', 'Uintah',
       'Union', 'Roanoke', 'King', 'Fairbanks North Star ', 'Garrett',
       'Rockingham', 'Wake', 'Fremont', 'Richland'], dtype=object)

In [21]:
# Removing the newlines from column headers
pollution_df = eclipse_df.rename(columns={"Bug\nID": "Bug ID",
                                        "Assignee\nReal\nName": "Assignee Real Name",
                                        "Number of\nComments": "Number of Comments",
                                        "Reporter\nReal\nName": "Reporter Real Name",
                                        "Target\nMilestone": "Target Milestone"})
eclipse_df.columns

NameError: name 'eclipse_df' is not defined

In [ ]:
# Finding the average number of comments per bug
average_comments = pollution_df["Number of Comments"].mean()
average_comments

In [ ]:
# Grouping the DataFrame by "Assignee"
assignee_group = eclipse_df.groupby("Assignee")

# Count how many of each component Assignees worked on and create DataFrame of the data
assignee_work = pd.DataFrame(assignee_group["Component"].value_counts())
assignee_work.head()

In [ ]:
# Rename the "Component" column to "Component Bug Count"
assignee_work = assignee_work.rename(
    columns={"Component": "Component Bug Count"})
assignee_work.head()

In [ ]:
# Find the percentage of bugs overall fixed by each Assignee
total_bugs = eclipse_df["Assignee"].count()
bugs_per_user = assignee_group["Assignee"].count()

user_bug_percent = pd.DataFrame((bugs_per_user/total_bugs)*100)
user_bug_percent.head()

In [ ]:
# Rename the "Assignee" column to "Percent of Total Bugs Assigned"
user_bug_percent = user_bug_percent.rename(
    columns={"Assignee": "Percent of Total Bugs Assigned"})

# Reset the index for this DataFrame so "Assignee" is a column
user_bug_percent = user_bug_percent.reset_index()
user_bug_percent.head()

In [ ]:
# Reset the index of "assignee_group" so that "Assignee" and "Component" are columns
assignee_work = assignee_work.reset_index()
assignee_work.head()

# Merge the "Percent of Total Bugs Assigned" into the DataFrame
assignee_work = assignee_work.merge(user_bug_percent, on="Assignee")

# Remove the extra columns
assignee_work = assignee_work[["Assignee", "Percent of Total Bugs Assigned",
                               "Component", "Component Bug Count"]]
assignee_work.head()